<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/eshop</property>
        <property name="hibernate.connection.username">neonet</property>
        <property name="hibernate.connection.password">matrix</property>
        <!--<property name="hibernate.show_sql">true</property>-->
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hbm2ddl.auto">validate</property>
        <!--<property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property>-->
        <mapping class="com.letion.model.Product"/>
        <mapping class="com.letion.model.Image"/>
        <mapping class="com.letion.model.BrandAuto"/>
        <mapping class="com.letion.model.Manufacturer"/>
        <mapping class="com.letion.model.ProductType"/>
        <mapping class="com.letion.model.Availability"/>
        <mapping class="com.letion.model.OrderList"/>
    </session-factory>

</hibernate-configuration>